doctype 5
html(ng-app="maker")
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title 
        block title
            | #{site.name}
    link(rel='shortcut icon',type="image/x-icon",href="/images/favicon.ico")
    link(rel='stylesheet', href='/css/style.css')
  body
    block header
        #header
            .container
                .row.clearfix
                    .col-lg-12.col-sm-12
                        #logo.pull-left
                            h1 #{site.name}
                                span.desc #{site.desc}
    block nav
        #nav
            .container
                .row
                    .col-lg-9.col-sm-9
                        .nav
                            ul.clearfix.nav.nav-pills
                                li(class="#{currentPage == '/' ? 'current' : ''}")
                                    a(href="/") 
                                        i.fa.fa-align-justify
                                        |首页
                                li(class="#{currentPage == '/news/new' ? 'current' : ''}")
                                    a(href="/article/new") 
                                        i.fa.fa-plus
                                        |写新文章 / Submit
                    .col-lg-3.col-sm-3
                        - if (user)
                            - var name = user.email ? user.email : user.duoshuo.user_id
                            .user
                                ul.nav.nav-pills.clearfix
                                    li.nav.pull-right.dropdown
                                        a(data-toggle="dropdown",href="#").clearfix.dropdown-toggle
                                            - if (user.avatar)
                                                img(src="#{user.avatar}",alt="#{name}").avatar-mini
                                            - else 
                                                img(src="http://www.gravatar.com/avatar/#{user.avatarHash}",alt="#{name}").avatar-mini
                                            span.name #{name}
                                        ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
                                            li: a(href="/signout") 登出
                        - else
                            .sign-nav.clearfix
                                ul.clearfix.nav.nav-pills
                                    li#signin(class="#{currentPage == '/signin' ? 'current' : ''}")
                                        a(href="/signin") 登录
                                    li#signip(class="#{currentPage == '/signup' ? 'current' : ''}")
                                        a(href="/signup") 注册
    block content
    block footer
        #footer
            .container
                .row
                    .col-lg-12
                        .footer &copy; #{ new Date().getFullYear() } #{site.name} . #{site.desc}
    
    script(src="/js/lib/jquery/jquery-1.10.2.min.js")
    //- script(src="/js/lib/jquery.backstretch.min.js")
    script(src="/js/lib/bootstrap/bootstrap.min.js")
    script(src="/js/lib/angular/angular.min.js")
    script(src="/js/lib/angular/angular-resource.min.js")
    script(src="/js/lib/angular/angular-store.js")
    script(src="/js/app.js")
    block js