extends ../layout

block content
    #article.article-content
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .row
                        .col-lg-12
                            h3.title #{article.title}
                            .meta.clearfix
                            .entry #{article.content}
                            .author
                                - if (article.author)
                                    - each author in article.author
                                        img(src="http://www.gravatar.com/avatar/#{author.avatarHash}").avatar-middle
                        
                            #comments.comments.clearfix
                                .ds-thread
block js
    //- duoshuo comments configs
    script.
        var duoshuoQuery = {
            short_name: "#{site.duoshuo ? site.duoshuo.short_name : ''}",
            //- theme: 'none',
            sso: { 
               login: "#{url}/signin/social",
               logout: "#{url}/signout/social"
            }
        };
    script(type="text/javascript",src="http://static.duoshuo.com/embed.js",charset="UTF-8",async)