extends ../layout

block css
    link(rel='stylesheet', href='/js/pen/src/pen.css')
        
block content
    #article.article-content
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .row
                        .col-lg-12
                            h3.title #{article.title}
                            .meta.clearfix.author
                                - if (article.author)
                                    - each author in article.author
                                        img(src="http://www.gravatar.com/avatar/#{author.avatarHash}").avatar-middle.pull-left
                                        span.nickname #{author.nickname ? author.nickname : author.email}
                                - if (is.author)
                                    #options.options.clearfix
                                        a(href="/article/#{article.id}/edit") 编辑
                                        a(href="/article/#{article.id}/remove", ng-click="remove('#{article.id}')") 删除
                            .entry.pen !{article.content}                        
                            #comments.comments.clearfix
                                .ds-thread
block js
    //- banner uploader
    script(type="text/javascript",src="/js/uploader.js")
    //- duoshuo comments configs
    script.
        var duoshuoQuery = {
            short_name: "#{site.duoshuo ? site.duoshuo.short_name : ''}",
            sso: { 
               login: "#{url}/signin/social",
               logout: "#{url}/signout/social"
            }
        };
    script(type="text/javascript",src="http://static.duoshuo.com/embed.js",charset="UTF-8",async)